<h2 mat-dialog-title>
  @if (mode === 'delete') {
    Breakdown Verwijderen
  } @else if (mode === 'edit') {
    Breakdown Bewerken
  } @else {
    Nieuwe Breakdown
  }
</h2>
@if (mode !== 'delete') {
  <form [formGroup]="newBreakdownForm">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label>Klant</mat-label>
        <input matInput type="text" formControlName="customer_id" [matAutocomplete]="auto"/>
        <mat-autocomplete #auto="matAutocomplete">
          @for (customer of filteredCustomers; track customer) {
            <mat-option [value]="customer.customer_id">{{customer.name}}</mat-option>
          }
        </mat-autocomplete>
        @if (fieldIsInvalid('customer_id')) {
          <mat-error>Klant is verplicht</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Datum</mat-label>
        <input matInput type="text" formControlName="moment_of_breakdown" [matDatepicker]="picker"/>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (fieldIsInvalid('moment_of_breakdown')) {
          <mat-error>Datum is verplicht</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Omschrijving</mat-label>
        <input matInput type="text" formControlName="description"/>
        @if (fieldIsInvalid('description')) {
          <mat-error>Omschrijving is verplicht</mat-error>
        }
      </mat-form-field>
    </mat-dialog-content>
  </form>
} @else {
  <mat-dialog-content>
    <p>Weet je zeker dat je deze breakdown wilt verwijderen?</p>
  </mat-dialog-content>
}

<mat-dialog-actions>
  <button mat-button class="cancel-button" mat-dialog-close>Annuleren</button>
  @if (mode === 'delete') {
    <button mat-button class="delete-button" [mat-dialog-close]="{ confirmDelete: true }">Verwijderen</button>
  } @else {
    <button mat-button class="submit-button" [disabled]="newBreakdownForm.invalid" [mat-dialog-close]="breakdown">Opslaan</button>
  }
</mat-dialog-actions>