.table-content-container {
  padding: 24px;
  background-color: #7678ED;
  border-radius: 8px;

  .mat-mdc-raised-button {
    margin: 12px auto;
  }

  .mat-mdc-table {
    width: 100%;
    // background-color: #c9c9fe;
  }
}