<!-- <nav role="navigation">
  <mat-nav-list>
    <mat-list-item>
      <button mat-raised-button aria-label="Breakdowns" routerLink="/breakdowns" routerLinkActive="active-link">Breakdowns</button>
    </mat-list-item>
    <mat-list-item>
      <button mat-raised-button aria-label="Customers" routerLink="/customers" routerLinkActive="active-link">Customers</button>
    </mat-list-item>
  </mat-nav-list>
</nav> -->

<mat-toolbar>
  <button mat-raised-button aria-label="Breakdowns" routerLink="/breakdowns" routerLinkActive="active-link">Breakdowns</button>
  <button mat-raised-button aria-label="Customers" routerLink="/customers" routerLinkActive="active-link">Customers</button>
</mat-toolbar>
